/* Typography */

/* Layout */

body {
	font-size: 1.125rem;
	font-weight: 400;
	font-family: Work Sans;
	margin: 0;
	background-color: #fff;
}

.container {
	display: flex;
	width: 90%;width: 90%;
	margin: auto;
	max-width: 1400px;
}

.grey-container {
	background-color: rgb(243, 243, 243);
	padding: 4em 0em;
}

.white-container {
	background-color: white;
	padding: 4em 0em;
}

.navcontainer {
	padding: 2em 1em 0em 0em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.header-logo {
	margin: auto;
	font-size: 1.5em;
	font-weight: 700;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style-type: none;
	padding-left: 0em;
	align-items: center;
	font-weight: 400;
}

nav li {
	margin-bottom: 1rem;
}

nav a {
	text-decoration: none;
	color: black;
	border-bottom: 2px rgba(255, 255, 255, 0) solid;

}

nav a:hover {
	margin-bottom: 1rem;
	padding-bottom: 0.5em;
	border-bottom: 2px black solid;
	transition-duration: 200ms;
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.intro-left h1 {
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 1em;
	/* border: solid 2px black ; */
}

.btncontainer {
	margin: 2em 0em;
	
}
.projects-button {
	margin: 0.5em 0em;
	background-color: rgb(255, 255, 255);
	color: black;
	font-family: work sans;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	width: 10em;
	height: 3em;
	border: solid 0.1rem black;
	border-radius: 5px;
}

.hire-me {
	margin: 0.5em 0em;
	background-color: black;
	color: white;
	font-family: work sans;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	width: 10em;
	height: 3em;
	border: solid 0.1rem black;
	border-radius: 5px;
}

.projects-button:hover,:focus {
	background-color: blue;
	color: #fff;
	font-family: work sans;
	transition-duration: 300ms;
}

.hire-me:hover,:focus {
	background-color: blue;
	color: #fff;
	font-family: work sans;
	transition-duration: 300ms;
}

.mypic {
	padding-top: 1em;
	order: -1;
	width: 100%;
	max-width: 450px;
}

.con-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.con-flex h1 {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}

.con-flex img {
	width: 90%;
	max-width: 700px;
	order: -1;
}

.con-flex p{
	margin: 2em 0em;
}
.con-flex a{
	text-decoration: none;
	color: black;
	padding-bottom: 0.5em;
	border-bottom: 2px black solid;
}

footer {
	background-color: rgb(248, 248, 248);
	margin: 1em 0em;
	padding: 1em 0em;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}

.headings {
	text-align: center;
	font-weight: 600;
	margin: 2em 0em;
}

@media (min-width: 675px) {
	.navcontainer {
		margin: auto;
		padding: 2em 5%;
		width: 90%;
		flex-direction: row;
		justify-content: space-between;
		/* border: solid 1px red; */
	}

	.header-logo {
		margin: 0;
		/* border: solid 1px orange; */
	}

	nav ul {
		margin: 0;
		flex-direction: row;
		text-align: right;
		/* border: solid 1px black; */
	}
	nav a {
		white-space: normal;
		margin-left: 2em;
	}
}

@media (min-width: 988px) {
	.container {
		/* border: solid 1px black; */
		width: 80%;
	}
/* 
	.grey-container {
		min-height: 70vh;
	}

	.white-container {
		min-height: 70vh;
	} */
	.intro {
		flex-direction: row;
		justify-content: space-between;
		/* border: solid 1px black; */
	}
	.intro-left {
		width: 50%;
		/* border: solid 1px yellow; */
		/* padding-top: 2rem; */
	}
	.intro h1 {
		font-size: 2.5rem;
		text-align: left;
	}
	.mypic {
		/* border: solid 1px red; */
		order: 0;
	}

	.con-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2em 0em;
	}
	.con-flex .content {
		width: 45%;
	}

	.con-flex img {
		width: 50%;
		max-width: 500px;
		order: 0;
	}
	.con-flex h1 {
		/* margin-top: 2em; */
		text-align: left;
		font-size: 2rem;
		padding-bottom: 1rem;
	}
}
