/* Typography */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400;500;600;700;800&display=swap");

/* Layout */
html {
	scroll-behavior: smooth;
}

body {
	font-size: 1.125em;
	font-weight: 400;
	font-family: "Rubik", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: #111;
	color: white;
	/* background-image: url("bg/aaa0.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover; */
}

/* #index {

} */

h1,
h2 {
	font-family: "Syne";
	font-weight: 500;
}

p {
	line-height: 1.5rem;
	/* color: rgb(88, 88, 88); */
	color: #bfbed8;
}

a:focus {
	background-color: transparent;
	color: blue;
}

*::selection {
	background-color: rgb(128, 147, 255);
	color: black;
}

.fas {
	/* opacity: ; */
	transform: translate(0px, 0px);
	margin-left: 0.5em;
}

.container {
	display: flex;
	width: 100%;
	margin: auto;
	max-width: 1440px;
}

.grey-container {
	background-color: #000;
	padding: 2em;
	margin-top: 2em;
}

.white-container {
	background-color: white;
	padding: 4em 0em;
}

.navcontainer {
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	/* background-color: white; */
	position: relative;
}

.header-logo {
	margin: auto;
	font-size: 1.5rem;
	font-weight: 700;
}

.header-logo a {
	text-decoration: none;
	margin: 0em;
	color: black;
	text-align: left;
	color: white;
}

.header-logo img {
	width: 3.5rem;
}

nav ul {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	list-style-type: none;
	padding: 0em;
	align-items: center;
	font-weight: 400;
}

nav li {
	margin: 0.5em;
}

.nav-links {
	text-decoration: none;
	color: white;
}

.nav-links:hover {
	margin-bottom: 1rem;
	padding-bottom: 0.5em;
	border-bottom: 3px #3300ff solid;
	transition-duration: 200ms;
}

/* nav a {
	text-decoration: none;
	color: black;
	border-bottom: 2px rgba(255, 255, 255, 0) solid;
	-webkit-tap-highlight-color: transparent;
}

nav a:hover {
	margin-bottom: 1rem;
	padding-bottom: 0.5em;
	border-bottom: 2px black solid;
	transition-duration: 200ms;
	margin-bottom: 1rem;
	padding-bottom: 0.5em;
	border-bottom: 2px black solid;
	transition-duration: 200ms;
} */
.intro {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* min-height:80vh; */
	justify-content: space-between;
	/* align-items: center; */
	text-align: center;
	/* justify-content: center; */
}

.intro-header {
	align-items: center;
}

.content-header {
	display: flex;
	min-height: 80vh;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	/* justify-content: center; */
}

.intro-content {
	min-width: 50%;
	padding: 0 1rem;
}

.intro-content h1 {
	font-size: 2.25rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 0.5rem;
	/* border: solid 2px black ; */
}

.top-align {
	align-items: flex-start;
}

.about h1 {
	padding-top: 1em;
}
.about p {
	font-size: 1em;
	line-height: 1.6em;
	text-align: left;
	text-justify: auto;
}

.btncontainer {
	text-align: center;
	margin: 1em 0em;
}

.projects-button {
	margin: 0.5em 0em;
	background-color: #444c5c;
	color: white;
	font-family: "Syne";
	font-size: 1.125rem;
	font-weight: 500;
	outline: none;
	border: none;
	box-shadow: none;
	padding: 1rem 2rem;
	/* width: 10em; */
	height: auto;
	width: 100%;
	border-radius: 3px;
}

.hire-me {
	margin: 0.5em 0em;
	background-color: #444c5c;
	color: white;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	width: 10em;
	height: 3em;
	border: solid 0.05rem rgb(153, 153, 153);
	border-radius: 5px;
}

.projects-button:hover,
:focus {
	background-color: #002a7e;
	color: #fff;
	border-color: white;
	transform: scale(1.02);
	transition-duration: 100ms;
}

.hire-me:hover,
:focus {
	background-color: #002a7e;
	color: #fff;
	font-family: "Syne";
	transition-duration: 300ms;
}

.mypic {
	padding-top: 0em;
	order: -1;
	width: 80%;
	max-width: 500px;
	margin: auto;
}

.contact-pic-container {
	/* padding-top: 1em; */
	order: -1;
	width: 100%;
	max-width: 450px;
}
.contact-pic {
	width: 90%;
	margin: auto;
}

.con-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.con-flex h1 {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}

.con-flex img {
	width: 90%;
	max-width: 700px;
	order: -1;
}

.con-flex p {
	margin: 2em 0em;
}
.con-flex a {
	text-decoration: none;
	color: black;
	padding-bottom: 0.4em;
	border-bottom: 2px black solid;
	transition: all ease 200ms;
}

.con-flex a:hover {
	text-decoration: none;
	color: black;
	padding-bottom: 0.7em;
	border-bottom: 2px black solid;
	transition: all ease 200ms;
}

.view-all {
	padding-bottom: 3em;
}

.view-all-projects {
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	background-color: rgb(246, 247, 255);
	color: rgb(73, 73, 73);
	font-family: "Rubik";
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	width: 10em;
	height: 3em;
	border: solid 2px rgb(226, 229, 255);
	border-radius: 100px;
	transition-duration: 300ms;
}

/* sample content start*/

.card-container {
	padding: 2em 0em;
	display: grid;
	margin: 1em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-column-gap: 2em;
	grid-row-gap: 2em;
}

/* new */

.myBtnContainer {
	text-align: center;
}

/* Style the buttons */

.btn {
	border: 0px;
	/* border-radius: 5px; */
	outline: none;
	padding: 12px 16px;
	background-color: rgba(255, 255, 255, 0);
	color: rgb(170, 170, 170);
	cursor: pointer;
	margin: 0px 3px;
	font-size: 1em;
	font-family: "Syne";
	border-bottom: 2px rgba(255, 255, 255, 0) solid;
	transition-duration: 100ms;
}

/* Add a light grey background on mouse-over */
.btn:hover {
	/* background-color: #0c0231; */
	color: white;
	transition-duration: 100ms;
}

.btn.active {
	background-color: transparent;
	color: white;
	border-bottom: 4px #3300ff solid;
	transition-duration: 100ms;
}

.card {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0px rgb(235, 235, 235) solid;
	display: flex;
	background-color: #0c0231;
	flex-direction: column;
	border-radius: 0px;
	overflow: hidden;
	max-width: 600px;
	/* border-radius: 10px; */
	/* position: relative; */
}

.card img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.card-content {
	padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.card h2 {
	font-weight: 700;
	font-size: 1.25rem;
	color: #cbbffd;
}

.card h4 {
	font-weight: 600;
	font-size: 1rem;
}

.card p {
	font-size: 1rem;
	color: #bfbed8;
}

.card .desc {
	min-height: 5rem;
}

.card-link {
	display: flex;
	justify-content: flex-end;
}

.card-link a {
	text-decoration: none;
	color: #3300ff;
	font-weight: 500;
	padding-bottom: 0.2rem;
	border-bottom: 2px solid #3300ff;
}
.card:hover {
	transform: scale(1.01);
	transition: all ease-in 200ms;
	box-shadow: 0px 6px 20px #0000000e;
}

.card-link a:hover {
	transform: scale(1.025);
	transition: all ease 200ms;
}

/* sample content end */

.view-all-projects:hover,
:focus {
	background-color: rgb(229, 232, 255);
	transition-duration: 300ms;
}

footer {
	background-color: #000;
	padding: 1em 0em;
	color: #f6f7ff;
}

footer a {
	text-decoration: underline;
	color: #f6f7ff;
}
.footer-container {
	padding: 1em 0em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.footer-left {
	text-align: center;
}

.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	order: -1;
}

.social-media > * {
	margin: 0em 0.5em;
}

.footer-right .fab {
	font-size: 1.5rem;
	opacity: 0.8;
	transition: ease all 200ms;
	color: #f6f7ff;
}

.footer-right .fab:hover {
	opacity: 1;
	transition: ease all 200ms;
}

.contact-icons {
	margin-top: 2em;
}

.contact-icons img {
	margin: 0em 0.3em;
	width: 1em;
	height: auto;
	font-size: 2rem;
	/* opacity: 0.5; */
	transition: ease all 200ms;
	color: rgb(85, 96, 117);
}

.contact-icons i:hover {
	font-size: 2rem;
	opacity: 1;
	transition: ease all 200ms;
	color: black;
}

.headings {
	text-align: center;
	font-weight: 500;
	padding: 0.5em 0em;
}

.project-header-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* height: 60vh; */
	width: 90%;
	margin: auto;
	max-width: 1440px;
	margin-bottom: 7em;

	/* text-align: center; */
}

.project-header-container .mockimg {
	width: 100%;
	max-width: 600px;
	margin: auto;
	display: flex;
	order: -1;
}

.project-header-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-header-container h1 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 600;
	font-size: 3rem;
	text-align: center;
	font-weight: 600;
	font-size: 3rem;
	text-align: center;
	font-weight: 600;
}

.icon-container {
	display: flex;
}

.project-icon {
	width: 40px;
	margin: 0em 0.25em;
	width: 30px;
	margin: 0em 0.25em;
	width: 30px;
	margin: 0em 0.25em;
}

.project-content-container {
	width: 90%;
	margin: auto;
	justify-content: center;
	max-width: 1400px;
}

.project-content-container h1 {
	margin-top: 2em;
}

.project-content-container p {
	line-height: 1.5em;
	justify-content: center;
}

.image-container {
	display: grid;
	margin: auto;
	margin-top: 2em;
	grid-template-columns: repeat(auto-fit);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.image-container img {
	width: 100%;
	height: auto;
	filter: drop-shadow(5px 5px 5px rgba(71, 71, 71, 0.178));
}

.lofi {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.next-project {
	background-color: #000;
	margin: 2em 0em;
	padding: 2em 2em;
	border-radius: 8px;
}

.next-project a {
	color: #fff;
	font-weight: 500;
	text-decoration: none;
}

.white-text {
	color: white;
	/* text-decoration: underline; */
}

.hey {
	margin-bottom: 0rem;
	font-size: 1.5rem;
}

.header-name {
	margin-top: 0.5rem;
}

@media (min-width: 740px) {
	.navcontainer {
		margin: auto;
		padding: 2em 5%;
		width: 90%;
		flex-direction: row;
		justify-content: space-between;
		/* border: solid 1px red; */
	}

	.header-logo {
		margin: 0;
		/* border: solid 1px orange; */
	}

	nav ul {
		margin: 0;
		flex-direction: row;
		text-align: right;
		/* border: solid 1px black; */
	}
	nav a {
		white-space: normal;
		margin-left: 2em;
	}

	.projects-button {
		width: auto;
	}

	.card h2 {
		font-size: 1.5rem;
	}
}

@media (min-width: 988px) {
	body {
		font-size: 1.125rem;
	}
	.container {
		/* border: solid 1px black; */
		width: 80%;
	}

	.intro {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
		margin-bottom: 2rem;
		/* border: solid 1px black; */
	}

	.intro h1 {
		font-size: 3rem;
		text-align: left;
	}

	.intro-content {
		width: 50%;
	}

	.mypic {
		/* border: solid 1px red; */
		order: 0;
	}

	.marginTop {
		margin-top: 2em;
	}

	.btncontainer {
		text-align: left;
	}

	.con-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 1em 0em;
	}
	.con-flex .content {
		width: 45%;
	}

	.con-flex img {
		width: 50%;
		max-width: 500px;
		order: 0;
	}
	.con-flex h1 {
		/* margin-top: 2em; */
		text-align: left;
		font-size: 2rem;
		/* padding-bottom: 0.5em; */
	}

	.footer-container {
		flex-direction: row;
	}

	.footer-right {
		order: 0;
		flex-direction: row;
	}

	.follow-me {
		margin-right: 1em;
	}

	.project-header-container {
		display: flex;
		flex-direction: row;
		/* height: 70vh; */
		width: 80%;
		padding: 3em 0em;
		justify-content: left;
		align-items: center;
		/* flex-flow: wrap; */
	}

	.project-header-info {
		align-items: flex-start;
	}

	.project-header-container h1 {
		font-size: 5rem;
		text-align: left;
		/* flex-flow: wrap; */
	}

	.project-header-container .mockimg {
		order: 0;
	}

	.project-icon {
		width: 40px;
		margin: 0em 0.25em;
	}
	.project-content-container {
		width: 60%;
	}

	.card-container {
		margin: 0 auto 2rem auto;
		width: 80%;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}

	.card-content {
		padding: 1rem 2rem 1.5rem 2rem;
	}

	.about h1 {
		padding-top: 0em;
	}
}
